@import "./colors";
@import "./fonts";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Inconsolata", monospace;
    font-size: 1.6rem;
    background-color: $black;
    color: $white;
    overflow-x: hidden;
    overflow: overlay;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border: solid;
    border-color: $loader_border;
    border-width: 4px;
}

.disappear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.content{
    display: none;
}

.appear {
    display: block;
}

.ys {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    width: 100%;

    svg {
        animation: fill .6s ease-in 2s forwards
    }

    #logo path:first-child{
        stroke-width: 1;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation: line-anim 2s ease .2s forwards  
    }

    #logo path:nth-child(2){
        stroke-width: 1;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation: line-anim 2.9s ease .2s forwards
    }

}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes fill {
    0% {
        fill: transparent
    }

    to {
        fill: $loader_fill
    }
}

.loading-dots {
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    color: $loading-dots;

    svg {
        height: 60px;
        width: 120px;
    }
}

@import "./header";

.intro-title{
    height: calc(100vh - 400px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-variation-settings: "wght" 900, "wdth" 100;
        &.text{
            font-size: clamp(3.5rem, 5vw, 11rem);
                }
        &.name{
            font-size: clamp(7rem, 10vw, 22rem);
        }
    }
}
.intro{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;

    .test{
        transform: scaleX(-1);
    }
    
    .test2{
        height: 1000px;
        background-color: aqua;
    }
    .tdadw{
        transform: translateY(-5px);
    }
    svg, g, path{
        background: transparent;
        display: block;
        position: relative;
        width: 100%;
        fill: aqua;
        z-index: -1;
    }
}

.test3{
    width: 100%;
    height: auto;

    svg{
        width: 100%;
        height: 100%;
    }
}

.test5{
    height: 2000px;
    background-color: aqua;
}

.sect5, .sect3{
    margin-bottom: -2px;

    svg{
        width: 100%;
        height: 100%;
        }
}

@import "./scrollbar";
@import "./responsive";