*{
    margin: 0;
    padding: 0;
  }
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
  }
  
  .disppear{
    animation: vanish 1s forwards;
  }
  @keyframes vanish {
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }


  .preloader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
}

.preloader #logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.preloader #logo path:first-child {
    stroke-width: 1;
    stroke-dasharray: 393.5;
    stroke-dashoffset: 393.5;
    animation: line-anim 2s ease .2s forwards
}

.preloader #logo path:nth-child(2) {
    stroke-width: 1;
    stroke-dasharray: 430;
    stroke-dashoffset: 430;
    animation: line-anim 2.9s ease .2s forwards
}

.preloader svg {
    animation: fill .6s ease-in 2s forwards
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes fill {
    0% {
        fill: transparent
    }

    to {
        fill: #ffffff
    }
}

.loading{
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    color: #ffffff;
}

.loading svg{
    height: 40px;
    width: 40px;
}