* {
    margin: 0;
    padding: 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border: solid;
    border-color: #ffffff;
    border-width: 4px;
}

.disappear {
    animation: vanish 1s forwards;
}
.content{
    display: none;
}
.appear{
    display: block;
}
@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.ys {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    width: 100%;
}

.ys #logo path:first-child {
    stroke-width: 1;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-anim 2s ease .2s forwards
}

.ys #logo path:nth-child(2) {
    stroke-width: 1;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-anim 2.9s ease .2s forwards
}

.ys svg {
    animation: fill .6s ease-in 2s forwards
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes fill {
    0% {
        fill: transparent
    }

    to {
        fill: #ffffff
    }
}

.loading {
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    color: #ffffff;
}

.loading svg {
    height: 60px;
    width: 120px;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%
}

@media only screen and (max-width:62.5em) {
    html {
        font-size: 56.25%
    }
}

@media only screen and (max-width:56.25em) {
    html {
        font-size: 54%
    }
}

@media only screen and (max-width:37.5em) {
    html {
        font-size: 51%
    }
}

@media only screen and (min-width:112.5em) {
    html {
        font-size: 75%
    }
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 1.6rem;
    background-color: #000000;
    color: #fff;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%
}

.container{
    padding: 0px 0px !important;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1220px;
    }
}

/*Scrollbar //////////////////////////////////////////////////*/
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.14, #5f128b),
            color-stop(0.52, #6206ad),
            color-stop(0.86, #4c1594)
            );
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}