@use "../abstracts" as *;

section#bye {
   position: relative;
   overflow-x: hidden;
   background: linear-gradient(0deg, rgb(0 0 0 / 65%) 0%, rgb(37 90 80 / 0%) 80%), url(/src/svg/intro-bg.svg) no-repeat fixed center/cover;
   //background: linear-gradient(0deg, rgba(31,209,120,1) 0%, rgba(74,134,221,1) 85%), url(/src/svg/intro-bg.svg) no-repeat fixed center/cover;

   .bye-wave-fix{
      z-index: 10;
      background-color: $background;
      width: 100%;
      height: calc(400px - 15vw);
   }

   .bye-wave{
      z-index: 0;

      .p-1{
         opacity: 0.9;
      }
      .p-2{
         fill: $background;
         opacity: 1;
      }

      stop:nth-child(1) {
         stop-color: #4932cc;
      }

      stop:nth-child(2) {
         stop-color: #69e9e9;
      }
   }
}

.bye-sand{
   position: absolute;
   bottom: 0;
   width: 100%;
}

@media only screen and (max-width: 1300px) {
   .bye-sand{
      width: auto;
      height: 150px;
   }
}

.bMade{
   @include Box1600;

   .bStats_wrapper{
      display: flex;
      gap: 30px;
      padding-top: 60px;
      padding-bottom: 300px;
      flex-direction: row;
      ul{
         li:nth-child(1){
            font-weight: 600;
            margin-bottom: 8px;
         }
         
         li:nth-child(4){
            margin-bottom: 8px;
         }
      }
   }
}

@media only screen and (max-width: 490px) {
   .bStats_wrapper{
      flex-direction: column !important;
   }
}

.bContact{
   position: absolute;
   top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

   p{
      color: $gray;
      font-size: clamp(1.6rem, 4vw, 2rem);

      a{
         color: $gray;
         transition: all 0.2s;
      }
      a:hover{
         color: #8cc6d2;
      }
   }
}

.bBoxFix{
   position: absolute;
   top: 0;
   width: 100%;
   height: 80px;
}

.bTitFix{
   position: relative;
   top: -15vw;
}

@media only screen and (min-width: 900px) {
   .bContact{
      top: 13vw;
   }

   .bTitFix {
      top: -12vh;
  }

   /*
   .bComFix{
      top: 3vw;
   }
   */
}

.bTxt{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

   p{
      padding: 5px;
      font-family: "BerlinType", sans-serif;
      font-size: clamp(1rem, 5vw, 3rem);
      transform: skew(0deg, 340deg) scaleY(1.33333);
   }
   p:nth-child(2){
      font-size: clamp(1rem, 4vw, 2.5rem);
   }
}
