@use "../abstracts" as *;

.intro {
   display: flex;
   justify-content: center;
   overflow: hidden;
   flex-direction: column;

   .test2 {
      z-index: 10;
      height: 1000px;
      background-color: $container;
   }
}