@use "../abstracts" as *;

#projects {
   height: 2000px;
   background-color: $container;
}

.pBox_overlay {
   height: 80px;
   background: rgb(16, 15, 15);
   background: linear-gradient(0deg, rgb(16, 15, 15) 44%, rgb(111, 35, 176) 100%);
}

.pBox_wrapper {
   display: grid;
   grid-template-columns: 300px 300px 300px;
   gap: 60px;
   margin-top: 60px;
   margin-bottom: 60px;
   justify-content: center;
   //grid-auto-rows: minmax(100px, auto);

   h2 {
      font-variation-settings: "wght" 700, "wdth" 105;
   }
}

.pBox {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 260px;
   width: 260px;
   padding: 20px;
   color: rgb(0, 0, 0);
   background: linear-gradient(170deg, #ffb37a, #f0c0fc);

}

.pBox:nth-child(1) {
   background: linear-gradient(170deg, #ffb37a, #f0c0fc);
}

.pBox:nth-child(2) {
   background: linear-gradient(223deg, #A1F2FF, #DFA3EE);
}

.pBox_links {
   display: flex;
   justify-content: flex-end;
}

.pBox_img {
   height: 38px;
   width: 38px;
}

.pBox_content {
   margin-left: 40px;
}

.pBox_Name {
   margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
   .pBox_wrapper {
      grid-template-columns: 300px 300px;
   }
}

@media only screen and (max-width: 800px) {
   .pBox_wrapper {
      grid-template-columns: 300px;
   }
}

@media only screen and (min-width: 2200px) {
   .pBox_wrapper {
      grid-template-columns: 300px 300px 300px 300px 300px
   }
}