
/*
@media only screen and (max-width:62.5em) {
    html {
        font-size: 56.25%
    }
}

@media only screen and (max-width:56.25em) {
    html {
        font-size: 54%
    }
}

@media only screen and (max-width:37.5em) {
    html {
        font-size: 51%
    }
}

@media only screen and (min-width:112.5em) {
    html {
        font-size: 75%
    }
}
*/

.container{
    padding: 0px 0px !important;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .container{
        max-width: 1220px;
    }
}