@use "../abstracts" as *;

section#skills {
   position: relative;
   height: 120vh;
   background: url(/src/svg/skill-bg.svg) no-repeat fixed center/cover;

}

.skill-svg {
   position: absolute;
   z-index: -10;

   top: 0;
   width: 100%;
   margin-bottom: -4px;

   svg {
      width: 100%;
      height: 100%;
   }
}

.skill-blend{
   position: absolute;
   bottom: 0;
   height: 80px;
   width: 100%;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(16 15 15) 20%);
}

@media only screen and (max-width: 1600px) {

}

.skillFlasks{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: url(/src/svg/flasks.svg) no-repeat center top; 
   background-size: cover; 
   height:120vh;
}