@use "../abstracts" as *;

section#skills {
   position: relative;
   height: 0;
   padding-top: 56.25%; /* (img-height / img-width * container-width) */
   background: url(/src/svg/skill-bg.svg) no-repeat fixed center/cover;

}

.skillSVG {
   position: absolute !important;
   z-index: -10;

   top: 0;
   width: 100%;
   margin-bottom: -4px;

   svg {
      width: 100%;
      height: 100%;
   }
}

.skillBlend{
   fill: $wave;
   position: absolute;
   bottom: 0;
   width: 100%;
   transform: scale(1.01);
   transition: 0.4s ease !important;
}

.skillFlasks{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: url(/src/img/pc-tra.webp) no-repeat center top; 
   background-size: contain;
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
   height:auto;
}

@media only screen and (max-width: 1300px) {
   section#skills {
      padding-top: 171.59%; /* (img-height / img-width * container-width) */
   }
   .skillFlasks{
      background: url(/src/img/tablet-tra.webp) no-repeat center top;
      background-size: contain;
   }
}

@media only screen and (max-width: 800px) {
   section#skills {
      padding-top: 378.4%; /* (img-height / img-width * container-width) */
   }
   .skillFlasks{
      background: url(/src/img/mobile-tra.webp) no-repeat center top;
      background-size: contain;
   }
}