@use "../abstracts" as *;

.intro-title{
    height: calc(100vh - 400px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        font-variation-settings: "wght" 900, "wdth" 100;
        &.text{
            font-size: clamp(3.5rem, 5vw, 11rem);
        }
        &.name{
            font-size: clamp(7rem, 10vw, 22rem);
        }
    }
}

.intro{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    
    .test2{
        height: 1000px;
        background-color: $container;
    }
}

.test3{
    width: 100%;
    height: auto;

    svg{
        width: 100%;
        height: 100%;
    }
}

.test5{
    height: 2000px;
    background-color: $container;
}

svg.intro-svg{
    width: 100%;
    z-index: -1;
}

svg.wave.down{
    transform: scaleY(-1) scaleX(-1);
}

svg.wave{
    width: 100%;
    height: 100%;

    background: transparent;
    display: block;
    position: relative;
    width: 100%;
    fill: $wave;
    z-index: -1;

    .wavePath {
        animation: waveAnim 60s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes waveAnim {
        0% {
            d: path("M 0,400 C 0,400 0,200 0,200 C 113.14285714285714,195.28571428571428 226.28571428571428,190.57142857142858 345,176 C 463.7142857142857,161.42857142857142 587.9999999999999,136.99999999999997 722,140 C 856.0000000000001,143.00000000000003 999.7142857142858,173.42857142857144 1121,188 C 1242.2857142857142,202.57142857142856 1341.142857142857,201.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
        }

        25% {
            d: path("M 0,400 C 0,400 0,200 0,200 C 92.96428571428572,187.5 185.92857142857144,175 305,175 C 424.07142857142856,175 569.2499999999999,187.5 698,194 C 826.7500000000001,200.5 939.0714285714287,201 1060,201 C 1180.9285714285713,201 1310.4642857142858,200.5 1440,200 C 1440,200 1440,400 1440,400 Z");
        }

        50% {
            d: path("M 0,400 C 0,400 0,200 0,200 C 129.57142857142858,211.92857142857144 259.14285714285717,223.85714285714286 371,221 C 482.85714285714283,218.14285714285714 576.9999999999999,200.5 702,177 C 827.0000000000001,153.5 982.8571428571429,124.14285714285714 1111,127 C 1239.142857142857,129.85714285714286 1339.5714285714284,164.92857142857144 1440,200 C 1440,200 1440,400 1440,400 Z");
        }

        75% {
            d: path("M 0,400 C 0,400 0,200 0,200 C 105.35714285714286,180.53571428571428 210.71428571428572,161.07142857142858 332,173 C 453.2857142857143,184.92857142857142 590.4999999999999,228.25 730,227 C 869.5000000000001,225.75 1011.2857142857142,179.92857142857144 1130,168 C 1248.7142857142858,156.07142857142856 1344.357142857143,178.03571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
        }

        100% {
            d: path("M 0,400 C 0,400 0,200 0,200 C 113.14285714285714,195.28571428571428 226.28571428571428,190.57142857142858 345,176 C 463.7142857142857,161.42857142857142 587.9999999999999,136.99999999999997 722,140 C 856.0000000000001,143.00000000000003 999.7142857142858,173.42857142857144 1121,188 C 1242.2857142857142,202.57142857142856 1341.142857142857,201.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
        }
    }
}

