@mixin flexCenter {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin boxCon1600 {
   margin-left: auto;
   margin-right: auto;
   max-width: 1560px;
   width: calc(100% - 40px);
   padding-left: 20px;
   padding-right: 20px;
}
