//

$dark_purple: #5f128b;
$purple: #5f128b;
$indigo: #4c1594;

//

$white: #ffffff;
$black: #000000;

//loader
$loader_background: #000000;
$loader_border: #ffffff;
$loader_fill: #ffffff;
$loading-dots: #ffffff;

//content
$wave: #100f0f;
$container: #100f0f;

$background: #100f0f;

$gray: #A7A2A2;
$comment: #5f5f5f;