@use "../abstracts" as *;

$font: "Inconsolata";
//font-family: $font;

* {
   margin: 0px;
   padding: 0px;
}

body {
   font-family: "Inconsolata", monospace;
   font-size: 1.6rem;
   background-color: $black;
   color: $white;
   overflow-x: hidden;
   overflow: overlay;
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 100%;
}

html {
   font-size: 62.5%; // 10px
   box-sizing: border-box;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   width: 100%;
   height: 100%;

   @media only screen and (max-width: 62.5em) {
      // tab-land
      font-size: 56.25%;
   }

   @media only screen and (max-width: 56.25em) {
      // tab-port
      font-size: 54%;
   }

   @media only screen and (max-width: 37.5em) {
      // phone
      font-size: 51%;
   }

   @media only screen and (min-width: 112.5em) {
      // big desktop
      font-size: 75%; // 1rem = 12px, 12/16 = 75
   }
}

h1 {
   font-family: "Inconsolata", monospace;
   font-variation-settings: "wght" 400, "wdth" 100;
   font-size: 4rem;
}

h2 {
   font-family: "Inconsolata", monospace;
   font-variation-settings: "wght" 400, "wdth" 100;
   font-size: 3.2rem;
}

h3 {
   font-family: "Inconsolata", monospace;
   font-variation-settings: "wght" 400, "wdth" 100;
   font-size: 2.5rem;
}

h4 {
   font-family: "Inconsolata", monospace;
   font-variation-settings: "wght" 400, "wdth" 100;
   font-size: 2rem;
}

h5 {
   font-family: "Inconsolata", monospace;
   font-variation-settings: "wght" 400, "wdth" 100;
   font-size: 1.5rem;
   visibility: hidden;
}

svg.wave {
   height: 100%;
   background: transparent;
   display: block;
   position: relative;
   width: 100%;
   fill: $wave;
   z-index: -1;

   .wavePath {
      animation: waveAnim 60s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
   }
}

svg.wave.down {
   transform: scaleY(-1) scaleX(-1);
   margin-top: -1px;
}

#b{
   height: 20px !important;
}

.b{
   height: 200px !important;
   #b{
      fill: aquamarine;
   }
}