@use "../abstracts" as *;

$font: "BerlinType";
//font-family: $font;

* {
   margin: 0px;
   padding: 0px;
}

body {
   font-family: "BerlinType", sans-serif;
   font-size: 1.1rem;
   background-color: $black;
   color: $white;
   overflow: overlay;
   overflow-x: hidden;
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 100%;
}

html {
   box-sizing: border-box;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   width: 100%;
   height: 100%;
}

//font-family: "BerlinTypeBold", sans-serif;

h1 {
   font-size: 2.3rem;
}

h2 {
   font-size: 1.8rem;
}

h3 {
   font-size: 1.4rem;
}

h4 {
   font-size: 1.1rem;
}

svg.wave {
   background: transparent;
   display: block;
   position: relative;
   width: 100%;
   fill: $wave !important;
   z-index: -1;

   .wavePath {
      animation: waveAnim 60s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
   }
}

svg.wave.down {
   transform: scaleY(-1) scaleX(-1) translateY(5px);
   margin-top: -1px;
   z-index: 1;
}

li{
   list-style: none;
}

p {
   font-family: "BerlinType", sans-serif;
}

//viewBox="0 120 1440 150" for smaller wave

.comment{
      //? REM for comment of topic (see XD)
   text-transform: uppercase;
   color: grey;
   margin-bottom: 40px;

}

.tBox{
   @include Box1600;
   position: sticky;
   top: 20px;
}

.title{
   color: aliceblue; //just 4 no err
   //? REM for titels of sections
}

.abso{
   position: absolute;
}