@use "../abstracts" as *;

$font: "Inconsolata";
//font-family: $font;

* {
   margin: 0px;
   padding: 0px;
}

body {
   font-family: "Inconsolata", monospace;
   font-variation-settings: "wght" 400, "wdth" 100;
   font-size: 1.1rem;
   background-color: $black;
   color: $white;
   overflow-x: hidden;
   overflow: overlay;
   margin: 0px;
   padding: 0px;
   width: 100%;
   height: 100%;
}

html {
   box-sizing: border-box;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   scroll-behavior: smooth;
   width: 100%;
   height: 100%;
}

h1,h2,h3,h4,h5{
   font-family: "Inconsolata", monospace;
   font-variation-settings: "wght" 400, "wdth" 100;
}

h1 {
   font-size: 3rem;
}

h2 {
   font-size: 2.6rem;
}

h3 {
   font-size: 2rem;
}

h4 {
   font-size: 1.5rem;
}

h5 {
   font-size: 1.2rem;
}

svg.wave {
   background: transparent;
   display: block;
   position: relative;
   width: 100%;
   fill: $wave !important;
   z-index: -1;

   .wavePath {
      animation: waveAnim 60s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
   }
}

svg.wave.down {
   transform: scaleY(-1) scaleX(-1) translateY(5px);
   margin-top: -1px;
   z-index: 1;
}


//viewBox="0 120 1440 150" for smaller wave

.comment{
      //? REM for comment of topic (see XD)
   text-transform: uppercase;
   color: grey;
   margin-bottom: 40px;

}


.tBox{
   margin-left: auto;
   margin-right: auto;
   max-width: 1560px;
   width: calc(100% - 40px);
   padding-left: 20px;
   padding-right: 20px;

}

.title{
   color: aliceblue; //just 4 no err
   //? REM for titels of sections
}

li{
   list-style: none;
}

.abso{
   position: absolute;
}