@use "../abstracts" as *;

.display-Null{
    visibility: hidden;
}

header{
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: normal;
    
    .desktop{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
        width: 100%;

        nav{
            margin-left: auto;
            margin-right: auto;
            max-width: 1600px;
            width: calc(100% - 40px);
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 50px;

            ul{
                display: flex;
                align-items: center;
                flex-direction: row;
                list-style-type: none;
                height: 50px;
            }

            li{
                margin-left: 6px;
                margin-right: 6px;
            }
        }
    }

    a{
        height: 30px;
        text-decoration: none;
        color: white;
    }

    svg{
        margin-top: 5px;
        fill: white;
    }

    div.checkbox-wrapper {
        background: white;
        border-radius: 30px;
        padding: 5px;
        height: 18px;
        width: 40px;
        transform: translateY(-1px);
        transition: all 0.4s ease;
        outline: 0;
        display: block;
        position: relative;
        cursor: pointer;

        .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-14px);
            &_sun {
                left: 12%;
                fill: black;
            }
            &_moon {
                right: 10%;
                fill: black;
            }
        }

        .cover{
            background-color: rgba(128, 128, 128, 0.226);
            height: 20px;
            width: 20px;
            border-radius: 30px;
            transform: translate(20px, -1px);
        }
    }
}