.loader {
   position: fixed;
   top: 0;
   left: 0;
   background: #000000;
   height: calc(100% - 8px);
   width: calc(100% - 8px);
   border: solid;
   border-color: #ffffff;
   border-width: 4px;
}

.disappear {
   -webkit-animation: vanish 10s forwards;
   animation: vanish 10s forwards;
}

@-webkit-keyframes vanish {
   100% {
      opacity: 0;
      visibility: hidden;
   }
}

@keyframes vanish {
   100% {
      opacity: 0;
      visibility: hidden;
      top: -100vh;
      transition: 2000ms;
   }
}

.content {
   display: none;
}

.appear {
   display: block;
}

.ys {
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(100% - 60px);
   width: 100%;
}

.ys svg {
   -webkit-animation: fill 0.6s ease-in 2s forwards;
   animation: fill 0.6s ease-in 2s forwards;
}

.ys #logo path:first-child {
   stroke-width: 1;
   stroke-dasharray: 500;
   stroke-dashoffset: 500;
   -webkit-animation: lineAnimation 2s ease 0.2s forwards;
   animation: lineAnimation 2s ease 0.2s forwards;
}

.ys #logo path:nth-child(2) {
   stroke-width: 1;
   stroke-dasharray: 500;
   stroke-dashoffset: 500;
   -webkit-animation: lineAnimation 2.9s ease 0.2s forwards;
   animation: lineAnimation 2.9s ease 0.2s forwards;
}

.loadingDots {
   display: flex;
   align-content: flex-end;
   justify-content: flex-start;
   color: #ffffff;
}

.loadingDots svg {
   height: 60px;
   width: 120px;
}

.displayNull {
   visibility: hidden;
}

@-webkit-keyframes lineAnimation {
   to {
      stroke-dashoffset: 0;
   }
}

@keyframes lineAnimation {
   to {
      stroke-dashoffset: 0;
   }
}

@-webkit-keyframes fill {
   0% {
      fill: transparent;
   }

   to {
      fill: #ffffff;
   }
}

@keyframes fill {
   0% {
      fill: transparent;
   }

   to {
      fill: #ffffff;
   }
}