@font-face {
  font-family: "Inconsolata";
  src: url(../font/Inconsolata-VariableFont_wdth\,wght.ttf) format("truetype");
  font-weight: 200 100;
  font-style: normal;
}
p {
  font-family: "Inconsolata";
}
p .extra_light {
  font-variation-settings: "wght" 200, "wdth" 100;
}
p .light {
  font-variation-settings: "wght" 300, "wdth" 100;
}
p .regular {
  font-variation-settings: "wght" 400, "wdth" 100;
}
p .medium {
  font-variation-settings: "wght" 500, "wdth" 100;
}
p .semi_bold {
  font-variation-settings: "wght" 600, "wdth" 100;
}
p .bold {
  font-variation-settings: "wght" 700, "wdth" 100;
}
p .extra_bold {
  font-variation-settings: "wght" 800, "wdth" 100;
}
p .black {
  font-variation-settings: "wght" 900, "wdth" 100;
}
p .cond_extra_light {
  font-variation-settings: "wght" 200, "wdth" 75;
}
p .cond_light {
  font-variation-settings: "wght" 300, "wdth" 75;
}
p .cond_regular {
  font-variation-settings: "wght" 400, "wdth" 75;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 1.6rem;
  background-color: #373737;
  color: #ffffff;
  overflow-x: hidden;
  overflow: overlay;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-variation-settings: "wght" 400, "wdth" 100;
  font-size: 40px;
}

h2 {
  font-family: "Inconsolata", monospace;
  font-variation-settings: "wght" 400, "wdth" 100;
  font-size: 32px;
}

h3 {
  font-family: "Inconsolata", monospace;
  font-variation-settings: "wght" 400, "wdth" 100;
  font-size: 20px;
}

h4 {
  font-family: "Inconsolata", monospace;
  font-variation-settings: "wght" 400, "wdth" 100;
  font-size: 16px;
}

h5 {
  font-family: "Inconsolata", monospace;
  font-variation-settings: "wght" 400, "wdth" 100;
  font-size: 13px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  border: solid;
  border-color: #ffffff;
  border-width: 4px;
}

.disappear {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.content {
  display: none;
}

.appear {
  display: block;
}

.ys {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
  width: 100%;
}
.ys svg {
  -webkit-animation: fill 0.6s ease-in 2s forwards;
          animation: fill 0.6s ease-in 2s forwards;
}
.ys #logo path:first-child {
  stroke-width: 1;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: line-anim 2s ease 0.2s forwards;
          animation: line-anim 2s ease 0.2s forwards;
}
.ys #logo path:nth-child(2) {
  stroke-width: 1;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: line-anim 2.9s ease 0.2s forwards;
          animation: line-anim 2.9s ease 0.2s forwards;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill {
  0% {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}
@keyframes fill {
  0% {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}
.loading-dots {
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  color: #ffffff;
}
.loading-dots svg {
  height: 60px;
  width: 120px;
}

.display-Null {
  visibility: hidden;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  font-family: "Inconsolata";
  font-size: 20px;
  font-weight: 500;
  font-variation-settings: "wght" 600;
}
header .desktop {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  width: 100%;
}
header .desktop .header-container {
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
header .desktop .header-container nav ul {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  height: 50px;
}
header .desktop .header-container li {
  margin-left: 8px;
  margin-right: 8px;
}
header a {
  height: 30px;
  text-decoration: none;
  color: white;
}
header svg {
  fill: white;
}
header .location {
  margin-left: 8px;
  margin-right: 8px;
}

.intro-title {
  height: calc(100vh - 400px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-title p {
  font-variation-settings: "wght" 900, "wdth" 100;
}
.intro-title p.text {
  font-size: clamp(3.5rem, 5vw, 11rem);
}
.intro-title p.name {
  font-size: clamp(7rem, 10vw, 22rem);
}

.intro {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
.intro .test2 {
  height: 1000px;
  background-color: #883131;
}

.test3 {
  width: 100%;
  height: auto;
}
.test3 svg {
  width: 100%;
  height: 100%;
}

.test5 {
  height: 2000px;
  background-color: #883131;
}

svg.intro-svg {
  width: 100%;
  z-index: -1;
}

svg.wave.down {
  transform: scaleY(-1) scaleX(-1);
}

svg.wave {
  width: 100%;
  height: 100%;
  background: transparent;
  display: block;
  position: relative;
  width: 100%;
  fill: #883131;
  z-index: -1;
}
svg.wave .wavePath {
  -webkit-animation: waveAnim 60s;
          animation: waveAnim 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes waveAnim {
  0% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 113.14285714285714,195.28571428571428 226.28571428571428,190.57142857142858 345,176 C 463.7142857142857,161.42857142857142 587.9999999999999,136.99999999999997 722,140 C 856.0000000000001,143.00000000000003 999.7142857142858,173.42857142857144 1121,188 C 1242.2857142857142,202.57142857142856 1341.142857142857,201.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  25% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 92.96428571428572,187.5 185.92857142857144,175 305,175 C 424.07142857142856,175 569.2499999999999,187.5 698,194 C 826.7500000000001,200.5 939.0714285714287,201 1060,201 C 1180.9285714285713,201 1310.4642857142858,200.5 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  50% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 129.57142857142858,211.92857142857144 259.14285714285717,223.85714285714286 371,221 C 482.85714285714283,218.14285714285714 576.9999999999999,200.5 702,177 C 827.0000000000001,153.5 982.8571428571429,124.14285714285714 1111,127 C 1239.142857142857,129.85714285714286 1339.5714285714284,164.92857142857144 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  75% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 105.35714285714286,180.53571428571428 210.71428571428572,161.07142857142858 332,173 C 453.2857142857143,184.92857142857142 590.4999999999999,228.25 730,227 C 869.5000000000001,225.75 1011.2857142857142,179.92857142857144 1130,168 C 1248.7142857142858,156.07142857142856 1344.357142857143,178.03571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  100% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 113.14285714285714,195.28571428571428 226.28571428571428,190.57142857142858 345,176 C 463.7142857142857,161.42857142857142 587.9999999999999,136.99999999999997 722,140 C 856.0000000000001,143.00000000000003 999.7142857142858,173.42857142857144 1121,188 C 1242.2857142857142,202.57142857142856 1341.142857142857,201.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
}
@keyframes waveAnim {
  0% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 113.14285714285714,195.28571428571428 226.28571428571428,190.57142857142858 345,176 C 463.7142857142857,161.42857142857142 587.9999999999999,136.99999999999997 722,140 C 856.0000000000001,143.00000000000003 999.7142857142858,173.42857142857144 1121,188 C 1242.2857142857142,202.57142857142856 1341.142857142857,201.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  25% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 92.96428571428572,187.5 185.92857142857144,175 305,175 C 424.07142857142856,175 569.2499999999999,187.5 698,194 C 826.7500000000001,200.5 939.0714285714287,201 1060,201 C 1180.9285714285713,201 1310.4642857142858,200.5 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  50% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 129.57142857142858,211.92857142857144 259.14285714285717,223.85714285714286 371,221 C 482.85714285714283,218.14285714285714 576.9999999999999,200.5 702,177 C 827.0000000000001,153.5 982.8571428571429,124.14285714285714 1111,127 C 1239.142857142857,129.85714285714286 1339.5714285714284,164.92857142857144 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  75% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 105.35714285714286,180.53571428571428 210.71428571428572,161.07142857142858 332,173 C 453.2857142857143,184.92857142857142 590.4999999999999,228.25 730,227 C 869.5000000000001,225.75 1011.2857142857142,179.92857142857144 1130,168 C 1248.7142857142858,156.07142857142856 1344.357142857143,178.03571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  100% {
    d: path("M 0,400 C 0,400 0,200 0,200 C 113.14285714285714,195.28571428571428 226.28571428571428,190.57142857142858 345,176 C 463.7142857142857,161.42857142857142 587.9999999999999,136.99999999999997 722,140 C 856.0000000000001,143.00000000000003 999.7142857142858,173.42857142857144 1121,188 C 1242.2857142857142,202.57142857142856 1341.142857142857,201.28571428571428 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
}

.pBox_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.test5 {
  height: 100vh;
  background-color: grey;
}

.pBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 260px;
  width: 260px;
  padding: 20px;
  color: rgb(0, 0, 0);
  background: linear-gradient(170deg, #ffb37a, #f0c0fc);
}

.pBox:nth-child(1) {
  background: linear-gradient(170deg, #ffb37a, #f0c0fc);
}

.pBox:nth-child(2) {
  background: linear-gradient(223deg, #A1F2FF, #DFA3EE);
}

.pBox_links {
  display: flex;
  justify-content: flex-end;
}

.pBox_img {
  height: 38px;
  width: 38px;
}

.pBox_content {
  margin-left: 40px;
}

.pBox_Name {
  margin-bottom: 20px;
}

/*
@media only screen and (max-width:62.5em) {
    html {
        font-size: 56.25%
    }
}

@media only screen and (max-width:56.25em) {
    html {
        font-size: 54%
    }
}

@media only screen and (max-width:37.5em) {
    html {
        font-size: 51%
    }
}

@media only screen and (min-width:112.5em) {
    html {
        font-size: 75%
    }
}
*/
.container {
  padding: 0px 0px !important;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1220px;
  }
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.14, #5f128b), color-stop(0.52, #5f128b), color-stop(0.86, #4c1594));
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}/*# sourceMappingURL=main.css.map */