@use "../abstracts" as *;

section#bye {
   position: relative;
   overflow: hidden;
   background: linear-gradient(0deg, rgb(0 0 0 / 65%) 0%, rgb(37 90 80 / 0%) 80%), url(./../svg/intro-bg.svg) no-repeat fixed center/cover;
   transform: translateY(-3px);

   .byeWaveFix{
      transition: 0.4s ease;
      z-index: 10;
      background-color: $background;
      width: 100%;
      height: calc(400px - 15vw);
   }

   .byeWave{
      transform: translateZ(0px);

      .path1{
         opacity: 0.9;
      }
      .path2{
         transition: 0.4s ease;
         fill: $background;
         opacity: 1;
      }

      stop:nth-child(1) {
         stop-color: #4932cc;
      }

      stop:nth-child(2) {
         stop-color: #69e9e9;
      }
   }

   .byeWaveLight{
      .path2{
         fill: $white !important;
         transition: 0.4s ease;
      }
   }
}

.byeSand{
   position: absolute;
   bottom: 0;
   width: 100%;
}

@media only screen and (min-width: 1750px) {
   .byeSand{
      width: auto;
      transform: translateY(+5vw);
   }
}

@media only screen and (min-width: 2800px) {
   .byeSand{
      width: auto;
      transform: translateY(+7vw);
   }
}

@media only screen and (max-width: 780px) {
   .byeSand{
      width: auto;
      height: 150px;
   }
}

.byeMade{
   @include boxCon1600;

   .byeStatsWrapper{
      display: flex;
      gap: 30px;
      padding-top: 60px;
      padding-bottom: 300px;
      flex-direction: row;
      ul{
         min-width: 120px;

         li:nth-child(1){
            font-weight: 600;
            margin-bottom: 8px;
         }
         
         li:nth-child(4){
            margin-bottom: 8px;
         }
      }
   }
}

@media only screen and (max-width: 490px) {
   .byeStatsWrapper{
      flex-direction: column !important;
   }
}

.byeContact{
   transition: 0.4s ease;
   background: transparent;
   position: absolute;
   top: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   
   p{
      color: $gray;
      font-size: clamp(1.6rem, 4vw, 2rem);

      a{
         color: $gray;
         transition: all 0.2s;
         text-decoration: none;
      }
      a:hover{
         color: #8cc6d2;
      }
   }
}

.byeBoxFix{
   transition: 0.4s ease;
   position: absolute;
   top: 0;
   width: 100%;
   height: 80px;
}

.byeTitelFix{
   position: relative;
   top: -15vw;
}

@media only screen and (min-width: 900px) {
   .byeContact{
      top: 13vw;
   }

   .byeTitelFix {
      top: -12vh;
  }

   /*
   .bComFix{
      top: 3vw;
   }
   */
}

.byeText{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

   p{
      padding: 5px;
      font-family: "BerlinType", sans-serif;
      font-size: clamp(1rem, 5vw, 3rem);
      transform: skew(0deg, 340deg) scaleY(1.33333);
   }
   p:nth-child(2){
      font-size: clamp(1rem, 4vw, 2.5rem);
   }
}
